---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div id="loading" class="mx-auto">
        <p>Loading...</p>
    </div>
    <div id="success" class="mx-auto hidden">
        <p>
            Thank you for your purchase <span
                id="customerName"
                class="font-semibold"></span>
        </p>
        <p>
            We've sent an email to <span
                id="customerEmail"
                class="font-semibold"></span> with further details
        </p>
    </div>
    <div id="error" class="mx-auto hidden">
        <p>
            There was an error. Return to <a
                href="/checkout"
                class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
                >checkout</a
            >
        </p>
    </div>
</Layout>

<script>
    async function getCheckoutSession() {
        const loadingEl = document.getElementById("loading");
        const successEl = document.getElementById("success");
        const errorEl = document.getElementById("error");

        const params = new URLSearchParams(window.location.search);
        const session_id = params.get("session_id");
        const backendUrl = import.meta.env.PUBLIC_API_URL;

        try {
            // redundant, but make sure loading indicator is shown
            if (loadingEl) loadingEl.style.display = "block";
            const response = await fetch(
                `${backendUrl}/session_status?session_id=${session_id}`
            );
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            const result = await response.json();
            return result;
        } catch (error) {
            if (loadingEl) loadingEl.style.display = "none";
            if (errorEl) errorEl.style.display = "block";
            console.error(error);
        } finally {
            if (loadingEl) loadingEl.style.display = "none";
            if (successEl) successEl.style.display = "block";
        }
    }

    async function handleCheckoutResult() {
        const session = await getCheckoutSession();

        if (session.status == "open") {
            window.location.href = "/checkout";
        } else if (session.status == "complete") {
            const nameEl = document.getElementById("customerName");
            const emailEl = document.getElementById("customerEmail");

            const { customer_name, customer_email } = session;

            if (nameEl) nameEl.innerText = customer_name || "songwriter friend";
            if (emailEl) emailEl.innerText = customer_email || "your email";
        }
    }

    handleCheckoutResult();
</script>
