---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div id="loading" class="mx-auto">
        <p>Loading...</p>
    </div>
    <div id="success" class="mx-auto hidden">
        <p>
            Thank you for your purchase <span
                id="customerName"
                class="font-semibold"></span>. We're excited to have you in the
            class 🎉
        </p>
        <p>
            We've sent an email to <span
                id="customerEmail"
                class="font-semibold"></span> with further details.
        </p>
    </div>
    <div id="error" class="mx-auto hidden">
        <p>
            There was an error. Return to <a
                href="/checkout"
                class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
                >checkout</a
            >
        </p>
    </div>
</Layout>

<script>
    const loadingEl = document.getElementById("loading")!;
    const successEl = document.getElementById("success")!;

    async function getCheckoutSession() {
        const errorEl = document.getElementById("error")!;

        const params = new URLSearchParams(window.location.search);
        const session_id = params.get("session_id");
        const backendUrl = import.meta.env.PUBLIC_API_URL;

        let result;
        try {
            const response = await fetch(
                `${backendUrl}/session_status?session_id=${session_id}`
            );
            result = await response.json();
        } catch (error) {
            loadingEl.style.display = "none";
            errorEl.style.display = "block";
            console.error(error);
            return;
        }

        return result;
    }

    async function handleCheckoutResult() {
        const session = await getCheckoutSession();

        if (session.status == "open") {
            window.location.href = "/checkout";
            return;
        }

        if (session.status == "complete") {
            loadingEl.style.display = "none";
            successEl.style.display = "block";

            const nameEl = document.getElementById("customerName")!;
            const emailEl = document.getElementById("customerEmail")!;

            const { customer_name, customer_email } = session;

            nameEl.innerText = customer_name || "songwriter friend";
            emailEl.innerText = customer_email || "your email";
            return;
        }
    }

    handleCheckoutResult();
</script>
