---
import ab from "../../images/ab-avatar.avif";
import ProductPage from "../../components/ProductPage.astro";
import CheckoutLayout from "../../layouts/CheckoutLayout.astro";
---

<CheckoutLayout>
    <ProductPage
        title="Write a song using music theory"
        price="200"
        image={ab}
        imageAlt="Card Image"
        link="/checkout"
        linkText="Sign up"
    >
        <Fragment slot="content">
            <!-- to do: extract this out to a markdown file? -->
            <!-- so that every class could just be made with a new markdown file -->
            <!-- detailed product description -->
            <div class="mt-6 space-y-4">
                <h3 class="text-2xl font-semibold">Course details:</h3>
                <p>
                    Do you want new tricks to help you write songs? Have you
                    ever listened to a song that burned a hole in your ear and
                    wondered why? This class is for you.
                </p>
                <p>
                    In this class, we teach the fundamentals of music theory
                    that empower you to distill the techniques from your
                    favorite artists into concepts that you can use in your own
                    songs.
                </p>
                <h3 class="text-2xl font-semibold">
                    By the end of this class, you will:
                </h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        Understand common compositional tools used in popular
                        music
                    </li>
                    <li>
                        <!-- only did this to make the formatting work otherwise prettier collapsed the space -->
                        <span>
                            Create a structural map of typical popular songs
                        </span>
                    </li>
                    <li>
                        Understand music theory fundamentals such as: the 12
                        notes in Western music, enharmonics, intervals (major,
                        minor, augmented, diminished), triads, diatonic chords.
                    </li>
                    <li>
                        <span>
                            Learn how to identify the key center of a song.
                        </span>
                    </li>
                    <li>
                        Understand roman numeral representation of chord
                        progressions (e.g., I IV V, I V vi IV, etc.).
                    </li>
                    <li>
                        Identify and use the following cadences in your own
                        songwriting: half, authentic, plagal, deceptive.
                    </li>
                    <li>
                        Identify and use secondary dominants and borrowed chords
                        in your own chord progressions.
                    </li>
                    <li>
                        Write a song using your new music theory analysis
                        skills.
                    </li>
                    <li>
                        Receive community feedback and benefit from the
                        accountability of working through the class together
                        with a group of peer musicians.
                    </li>
                </ul>
                <h3 class="text-2xl font-semibold">Course Logistics</h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        <strong>Duration:</strong> 4 weeks
                    </li>
                    <li>
                        <strong>Dates & time:</strong> 12-1pm PT on 10/30, 11/6,
                        11/13, and 11/20
                    </li>
                    <li>
                        <strong>Format:</strong> Weekly live 1 hour classes on Zoom
                    </li>
                    <li>
                        <strong>Prerequisites:</strong> None
                    </li>
                    <li>
                        <strong>Teacher:</strong> ab Menon
                    </li>
                </ul>
                <h3 class="text-2xl font-semibold">About your teacher</h3>
                <p>
                    ab Menon started playing music at a young age and graduated
                    from Sonoma State University with a B.M. in Jazz Studies and
                    Applied Music before continuing on to complete his M.M. in
                    Jazz Studies at University of the Arts in Philadelphia. He
                    has taught music for over a decade.
                </p>
                <p>
                    ab has worked in numerous songwriter-focused bands,
                    shepherding songs from initial vision to full band
                    arrangements. He combines his deep guitar chops, knowledge
                    of theory, and songwriting experience with a friendly and
                    approachable teaching style, making him a perfect teacher
                    for both experienced songwriters and those new to the craft.
                </p>
                <h3 class="text-2xl font-semibold">
                    Frequently Asked Questions
                </h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        <strong>What if I can't make a class?</strong>
                        <p>
                            If you can't attend a class, you can still
                            participate by watching the recordings and working
                            through the exercises at your own pace. We will have
                            a Discord community set up where you can ask
                            questions and get help from other students. Refunds
                            are not given for missed classes.
                        </p>
                    </li>
                    <li>
                        <strong
                            >What skill level is required to take this class?</strong
                        >
                        <p>
                            This course is designed for people of all levels to
                            benefit. For beginners, we try our best to fully
                            explain concepts from the start; for advanced
                            players, we hope you'll be able to take these
                            concepts and run even farther with them through the
                            prompts and accountability of the group.
                        </p>
                        <p>
                            You will get the most out of this class if you know
                            how to play a few chords on your instrument.
                        </p>
                    </li>
                    <li>
                        <strong>What is your refund policy?</strong>
                        <p>
                            If you try the first class and decide it's not for
                            you, we can offer a refund. Once the second class
                            begins, we don't offer refunds.
                        </p>
                    </li>
                </ul>
            </div>
        </Fragment>
    </ProductPage>
</CheckoutLayout>

<!-- to do make a request to the backend to get price data? -->
