---
import ab from "../../images/ab-avatar.avif";
import ProductPage from "../../components/ProductPage.astro";
import CheckoutLayout from "../../layouts/CheckoutLayout.astro";
---

<CheckoutLayout>
    <ProductPage
        title="Write a song using music theory (April 2026)"
        price="200"
        image={ab}
        imageAlt="Card Image"
        link="/checkout"
        linkText="Sign up"
    >
        <Fragment slot="content">
            <a class="link" href="/mutual-referrer"
                ><p>Sign up with a friend for 15% off, click here</p></a
            >
            <iframe
                class="h-50 md:h-100"
                src="https://www.youtube.com/embed/zvALY9wMw9s?si=f0nURNR_zR2tkZh1"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            <!-- to do: extract this out to a markdown file? -->
            <!-- so that every class could just be made with a new markdown file -->
            <!-- detailed product description -->
            <div class="mt-6 space-y-4">
                <h3 class="text-2xl font-semibold">Course details:</h3>
                <p>
                    Do you want new tricks to help you write songs? Have you
                    ever listened to a song that burned a hole in your ear and
                    wondered why? This class is for you.
                </p>
                <p>
                    In this class, we teach the fundamentals of music theory
                    that empower you to distill the techniques from your
                    favorite artists into concepts that you can use in your own
                    songs.
                </p>
                <p>
                    This class is for students of <b>all levels</b>, from
                    beginners who want to write their first songs, to advanced
                    songwriters who want to go deep on using music theory to
                    further unlock their creative process
                </p>
                <h3 class="text-2xl font-semibold">
                    By the end of this class, you will:
                </h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        Understand common compositional tools used in popular
                        music
                    </li>
                    <li>
                        <!-- only did this to make the formatting work otherwise prettier collapsed the space -->
                        <span>
                            Create a structural map of typical popular songs
                        </span>
                    </li>
                    <li>
                        Understand music theory fundamentals such as: the 12
                        notes in Western music, enharmonics, intervals, triads
                        (major, minor, augmented, diminished), diatonic chords.
                    </li>
                    <li>
                        <span>
                            Learn how to identify the key center of a song.
                        </span>
                    </li>
                    <li>
                        Understand roman numeral representation of chord
                        progressions (e.g., I IV V, I V vi IV, etc.).
                    </li>
                    <li>
                        Identify and use the following cadences in your own
                        songwriting: half, authentic, plagal, deceptive.
                    </li>
                    <li>
                        Identify and use secondary dominants and borrowed chords
                        in your own chord progressions.
                    </li>
                    <li>
                        Write a song using your new music theory analysis
                        skills.
                    </li>
                    <li>
                        Receive community feedback and benefit from the
                        accountability of working through the class together
                        with a group of peer musicians.
                    </li>
                </ul>
                <h3 class="text-2xl font-semibold">Course Logistics</h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        <strong>Duration:</strong> 4 weeks
                    </li>
                    <li>
                        <strong>Dates & time:</strong> 4-5pm PT on 4/13, 4/23, 4/30,
                        and 5/7
                    </li>
                    <li>
                        <strong>Format:</strong> Weekly live 1 hour classes on Zoom
                    </li>
                    <li>
                        <strong>Prerequisites:</strong> None
                    </li>
                    <li>
                        <strong>Teacher:</strong> ab Menon
                    </li>
                </ul>
                <h3 class="text-2xl font-semibold">About your teacher</h3>
                <p>
                    ab Menon started playing music at a young age and graduated
                    from Sonoma State University with a B.M. in Jazz Studies and
                    Applied Music before continuing on to complete his M.M. in
                    Jazz Studies at University of the Arts in Philadelphia. He
                    has taught music for over a decade.
                </p>
                <p>
                    ab has worked in numerous songwriter-focused bands,
                    shepherding songs from initial vision to full band
                    arrangements. He combines his deep guitar chops, knowledge
                    of theory, and songwriting experience with a friendly and
                    approachable teaching style, making him a perfect teacher
                    for both experienced songwriters and those new to the craft.
                </p>
                <h3 class="text-2xl font-semibold">
                    Frequently Asked Questions
                </h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>
                        <strong>What if I can't make a class?</strong>
                        <p>
                            If you can't attend a class, you can still
                            <b
                                >participate by watching the recordings and
                                working through the exercises at your own pace</b
                            >. We will have a Discord community set up where you
                            can ask questions and get help from other students.
                            Refunds are not given for missed classes.
                        </p>
                    </li>
                    <li>
                        <strong
                            >What skill level is required to take this class?</strong
                        >
                        <p>
                            This course is designed for people of all levels to
                            benefit. For beginners, we try our best to fully
                            explain concepts from the start; for advanced
                            players, we hope you'll be able to take these
                            concepts and run even farther with them through the
                            prompts and accountability of the group.
                        </p>
                        <p>
                            You will get the most out of this class if you know
                            how to play a few chords on your instrument.
                        </p>
                    </li>
                    <li>
                        <strong>What is your refund policy?</strong>
                        <p>
                            If you try the first class and decide it's not for
                            you, we can offer a refund. Once the second class
                            begins, we don't offer refunds.
                        </p>
                    </li>
                </ul>
                <h3 class="text-2xl font-semibold">Student Testimonial:</h3>
                <blockquote>
                    <p class="italic">
                        This class helped me get unstuck. Along with giving me
                        more tools in my songwriting and music playing toolbox,
                        it helped me see where I have holes to continue to learn
                        and develop. It was also just really fun to be there. Ab
                        was a great, energetic and informed instructor; and
                        Devin came in with so much knowledge and support. I
                        truly felt like the space opened up a place for
                        creation, with very helpful exercises and prompts. I
                        like to write, play, and listen to music to feed my
                        soul, and explore the human experience through song. I
                        did this, but with more structure, guidance, and
                        feedback. I'd highly recommend this to any aspiring or
                        current songwriters!
                    </p>
                </blockquote>
                <cite>-Kit, Nov. 2025 student</cite>
            </div>
        </Fragment>
    </ProductPage>
</CheckoutLayout>

<!-- to do make a request to the backend to get price data? -->
