---
import "../styles/app.css";
import Footer from "../components/Footer.astro";
import CheckoutNav from "../components/CheckoutNav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- HTML Meta Tags -->
        <title>Lightning Lessons music school</title>
        <meta
            name="description"
            content="Lightning Lessons is an online music school and community focused on helping you write songs and express yourself."
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://lightninglessons.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Lightning Lessons music school" />
        <meta
            property="og:description"
            content="Lightning Lessons is an online music school and community focused on helping you write songs and express yourself."
        />
        <meta property="og:image" content="/images/OG.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="lightninglessons.com" />
        <meta property="twitter:url" content="https://lightninglessons.com" />
        <meta name="twitter:title" content="Lightning Lessons music school" />
        <meta
            name="twitter:description"
            content="Lightning Lessons is an online music school and community focused on helping you write songs and express yourself."
        />
        <meta name="twitter:image" content="/images/OG.png" />

        <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    </head>
    <body class="flex flex-col min-h-screen max-w-screen-xl mx-auto">
        <div class="m-2">
            <CheckoutNav />
        </div>
        <main class="flex-1 flex flex-col mt-4">
            <slot />
        </main>
        <Footer />
    </body>
</html>
