---
import MutualReferrerForm from "../../components/MutualReferrerForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center">
        <MutualReferrerForm />
    </div>
</Layout>
