---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center">
        <p>Thanks for signing up with a friend 🎉!</p>
        <p>
            A unique promo code has been sent your email. <a
                href="/checkout"
                class="link">Use it during check out here</a
            >
        </p>
        <p>
            Your friend also has a unique promo code in their email, be sure to
            let them know to use it!
        </p>
    </div>
</Layout>
