<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <p class="text-5xl font-bold">Write songs, express yourself</p>
      <p class="py-6">
        Lightning Lessons is an online music school and community focused on helping you write songs and express yourself.
      </p>
      <button class="btn btn-primary">Sign up for a class</button>
    </div>
  </div>
</div>