---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center">
        <p>Thanks for signing up! Hope to see you in a class soon 💚</p>
        <a class="btn btn-link link-hover" href="/">Return home</a>
    </div>
</Layout>
