---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center flex flex-col max-w-md self-center px-6 mt-6">
        <p>Thanks for signing up for the email list!</p>
        <p>We'll let you know when we announce new classes.</p>
        <p>Hope to see you in a class soon 💚</p>
        <a class="btn btn-link link-hover" href="/">Return home</a>
    </div>
</Layout>
