---
import guitar from "../../images/guitar.jpg";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---
<Layout>
    <div class="flex justify-center my-16">
        <a href="/classes/write-a-song-using-music-theory"><Card title="Learn a song using music theory" description="Learn music theory fundamentals in a applied way: write a song" image={guitar} imageAlt="Card Image"/></a>
    </div>
</Layout>
